<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">Titulo</ion-label>
    <ion-input [(ngModel)]="form.titulo" (keyup)="updateLocalStorage()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Sub Titulo</ion-label>
    <ion-input [(ngModel)]="form.subTitulo" (keyup)="updateLocalStorage()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Item</ion-label>
    <ion-input [(ngModel)]="form.item" (keyup)="updateLocalStorage()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Item2</ion-label>
    <ion-input [(ngModel)]="form.item2" (keyup)="updateLocalStorage()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Item3</ion-label>
    <ion-input [(ngModel)]="form.item3" (keyup)="updateLocalStorage()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Footer</ion-label>
    <ion-input [(ngModel)]="form.footer" (keyup)="updateLocalStorage()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Footer2</ion-label>
    <ion-input [(ngModel)]="form.footer2" (keyup)="updateLocalStorage()"></ion-input>
  </ion-item>
</ion-content>
